.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppHeader h1 {
  font-size: 1.5rem;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.AppHeader {
  background-color: var(--header-bg);
  color: white;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; /* Altura fixa para o header */
  max-width: 1400px;
  margin: 0 auto;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espaçamento entre os links */
}

.navLink {
  color: #ccc;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
}

.navLink:hover {
  color: white;
}

.welcomeMessage {
  font-style: italic;
  color: #e0e0e0;
}

.navButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
